<footer class="footer">
    <div class="container">
        
		<div class="columns is-mobile is-multiline is-centered">
			<div class="column is-narrow">
				<img src="{{'img/BlocMarque-INRAE-Inter_Transparent.png' | relative_url }}" />
			</div>
		</div>
		
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>
